body {
  background: rgba(199, 147, 147, 0.5);
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) minmax(10px, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 22px;
  row-gap: 3px;
}

.grid__element {
  background: hotpink;
  padding: 10px;
  color: rebeccapurple;
}

main {
  display: grid;
  grid-template-areas:
    "header header header"
    "article .  aside"
    "footer footer footer";
  grid-template-columns: [pierwsza] 1fr [druga] 64px [trzecia] 200px;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-rows: 100px;
}

.header {
  background: hotpink;
  grid-column-start: pierwsza;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}
