.test {
  color: yellow;
  font-weight: bolder;
  &__special {
    color: white;
    font-size: small;
  }
}

.test::after {
  content: " - element zmieniony przez plik SAAS - main.scss";
}
