body {
  text-align: left;
  background-color: #2d2241;
  color: yellow;
  background-image: url(https://res.cloudinary.com/ddjmcdgi3/image/upload/v1588539220/samples/milky-way-2695569_1920_s4qazw.jpg);
}

/* ↓ nawigacja↓	*/

.nav {
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 10px;
  background-color: rgb(36, 152, 230);
  color: white;
}

/* ↓ nagłówki ↓	 */

h1 {
  text-decoration: dotted;
  text-shadow: aqua;
  text-align: center;
}

h2 {
  background-color: #dfdfdf;
  color: #2d2241;
  text-align: center;
}

h3 {
  background-color: #1f2041;
  text-align: center;
}

/* ↓	linki.html ↓	*/

.links-style {
  background-color: rgb(143, 0, 226);
  text-align: center;
}

.links-style li {
  list-style: none;
}

.links-style a {
  color: yellow;
}

/* ↓"Rzeczy których się nauczyłem"↓	 */

.article1 {
  background-color: #9666e4;
}

.article1 li {
  list-style-type: disc;
}

.article1 a {
  color: yellow;
}

/* ↓Image↓	*/

.image-style {
  height: 400px;
  width: 600px;
}

/* ↓Achievements↓	 */

.article2 {
  background-color: #347fc4;
}

.article2 li {
  list-style-type: square;
}

.article2 a {
  color: yellow;
}

/* ↓ Stopka	↓	 */

footer {
  text-align: center;
  background-color: rgb(243, 243, 243);
  color: black;
}

footer a {
  color: #2d2241;
}
