body {
  text-align: left;
  background-color: #2d2241;
  color: yellow;
  background-image: url(https://res.cloudinary.com/ddjmcdgi3/image/upload/v1588539220/samples/milky-way-2695569_1920_s4qazw.jpg);
}

/* ↓ nawigacja↓	*/

.navigation {
  list-style-type: none;
  text-align: center;
  background-color: rgba(234, 233, 240, 0.3);
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 1px;
  border-radius: 8px;
}

.navigation__link {
  display: inline-block;
  margin-left: 10px;
  color: white;
  background-color: rgba(234, 233, 240, 0.5);
  font-size: x-large;
  text-decoration: none;
}

.navigation__link--homepage {
  font-weight: bold;
}

/* ↓ nagłówki ↓	 */

h1 {
  text-decoration: dotted;
  text-shadow: aqua;
  text-align: center;
  position: relative;
  top: 20px;
  margin: 50px;
  padding-top: 5px;
}

h2 {
  background-color: #dfdfdf;
  color: #2d2241;
  text-align: center;
}

h3 {
  background-color: rgba(255, 255, 255, 0.05);
  color: whitesmoke;
  text-align: center;
  position: sticky;
  top: 10%;
}

/* ↓	linki.html ↓	*/

.links-style {
  background-color: rgb(143, 0, 226);
  text-align: center;
}

.links-style li {
  list-style: none;
}

.links-style a {
  color: yellow;
  font-weight: bold;
}

/* ↓"Rzeczy których się nauczyłem"↓	 */

.lesson {
  background-color: #9666e4;
}

.lesson__list {
  list-style-type: disc;
}

.lesson a {
  color: yellow;
  font-weight: bold;
}

/* ↓Image↓	*/

.image-large {
  height: 350px;
  width: 600px;
}

.image-small {
  height: 16px;
  width: 16px;
}

/* ↓Achievements↓	 */

.achievements {
  background-color: #347fc4;
}

.achievements__list {
  list-style-type: square;
}

.achievements__list a {
  color: yellow;
  font-weight: bold;
}

/* ↓ Stopka	↓	 */

footer {
  text-align: center;
  background-color: rgb(243, 243, 243);
  color: black;
  position: sticky;
}

footer a {
  color: #2d2241;
}
